#### Problem statement

1. Read the text file (data.csv) 
2. Create the case Class to Represent the entity
3. Add all the records in to List
4. Perform filter operations based on salary and departments
5. Perform map operations to produce formatted report
6. Perform reduce operation to find total Salary, average Salary, number of employees department wise

NOTE: This code structure prioritizes clarity and readability over strict Scala conventions, with the comment `"We proceed with the logic..."` helping readers follow the program flow.

###

Function(`getFileContent`) to read file content and return `ReadData`, case class to hold the results

In [1]:
case class ReadData(status: Boolean, message: String, data: List[String])

import scala.io.Source
import java.io.FileNotFoundException

def getFileContent: (String) => ReadData = (fp => {
    try{
        val data = scala.io.Source.fromFile(fp).getLines().toList
        
        if(!data.isEmpty) ReadData(status=true, message="Success", data=data) 
        else ReadData(status=true, message="No data found", data=data)
    }catch {
        case _: FileNotFoundException => ReadData(status=false, message=s"FileNotFound: $fp.", data=List.empty)
        case e: Exception => ReadData(status=false, message=s"Exception: $e.", data=List.empty)
    }
})

defined class ReadData
import scala.io.Source
import java.io.FileNotFoundException
defined function getFileContent

In [2]:
val fp = "data.csv"

val fileContent: ReadData = getFileContent(fp)
if(fileContent.data.isEmpty) println(fileContent.message)
else println("Hooray!! There are contents in the file") // We proceed with the logic calling corresponding functions to fetch stats

Hooray!! There are contents in the file

fp: String = "data.csv"
fileContent: ReadData = ReadData(
  status = true,
  message = "Success",
  data = List(
    "sno,name,city,salary,department",
    "1,John Doe,New York,60000,Marketing",
    "2,Jane Smith,Los Angeles,55000,Finance",
    "3,Michael Johnson,Chicago,62000,HR",
    "4,Sarah Lee,San Francisco,58000,Engineering",
    "5,David Brown,Houston,63000,Operations",
    "6,Emily Taylor,Miami,54000,Sales",
    "7,James Wilson,Dallas,59000,Marketing",
    "8,Emma Anderson,Seattle,61000,Finance",
    "9,Matthew Martinez,Boston,57000,HR",
    "10,Olivia Thomas,Atlanta,64000,Engineering",
    "11,Liam Garcia,Denver,53000,Operations",
    "12,Sophia Hernandez,Phoenix,60000,Sales",
    "13,Alexander Lopez,Philadelphia,56000,Marketing",
    "14,Mia Gonzalez,Detroit,62000,Finance",
    "15,Ethan Perez,Minneapolis,55000,HR",
    "16,Isabella Carter,Portland,63000,Engineering",
    "17,Mason Torres,Baltimore,52000,Operations",
    "18,Ava Ramirez,San Diego,64000,Sales",
    "19,Logan Sanders,Washington,57000,Marketing",
    "20,Harper King,Birmingham,61000,Finance",
    "21,Lucas Rivera,Memphis,59000,HR",
    "22,Evelyn Scott,Nashville,60000,Engineering",
    "23,Avery Green,Milwaukee,56000,Operations",
    "24,Lincoln Taylor,Indianapolis,62000,Sales",
    "25,Sofia Cooper,Louisville,54000,Marketing",
    "26,Aiden Bennett,Jacksonville,63000,Finance",
    "27,Madison Flores,Charlotte,58000,HR",
    "28,Ella Collins,San Jose,65000,Engineering",
    "29,Chloe Howard,San Antonio,53000,Operations",
    "30,Carter Hughes,Oklahoma City,61000,Sales",
    "31,Aria Nelson,Tucson,57000,Marketing",
    "32,Grayson Baker,Cleveland,60000,Finance",
    "33,Zoey Morris,Mesa,55000,HR",
    "34,Nova Ward,Kansas City,64000,Engineering",
...

case class `EmployeeData` represents the csv data as an entity. Format the csv data in terms of `EmployeeData` using `parseToEmployeeData` function

In [3]:
case class EmployeeData(id: Int, name: String, city: String, salary: Int, department: String)

def parseToEmployeeData(str: String): EmployeeData = {
    val elements = str.split(",")
    EmployeeData(elements(0).toInt, elements(1), elements(2), elements(3).toInt, elements(4))
}

val fc = fileContent.data.tail  // remove headers (first element of list: fileContent)
val formattedData: List[EmployeeData] = fc.map(parseToEmployeeData)

defined class EmployeeData
defined function parseToEmployeeData
fc: List[String] = List(
  "1,John Doe,New York,60000,Marketing",
  "2,Jane Smith,Los Angeles,55000,Finance",
  "3,Michael Johnson,Chicago,62000,HR",
  "4,Sarah Lee,San Francisco,58000,Engineering",
  "5,David Brown,Houston,63000,Operations",
  "6,Emily Taylor,Miami,54000,Sales",
  "7,James Wilson,Dallas,59000,Marketing",
  "8,Emma Anderson,Seattle,61000,Finance",
  "9,Matthew Martinez,Boston,57000,HR",
  "10,Olivia Thomas,Atlanta,64000,Engineering",
  "11,Liam Garcia,Denver,53000,Operations",
  "12,Sophia Hernandez,Phoenix,60000,Sales",
  "13,Alexander Lopez,Philadelphia,56000,Marketing",
  "14,Mia Gonzalez,Detroit,62000,Finance",
  "15,Ethan Perez,Minneapolis,55000,HR",
  "16,Isabella Carter,Portland,63000,Engineering",
  "17,Mason Torres,Baltimore,52000,Operations",
  "18,Ava Ramirez,San Diego,64000,Sales",
  "19,Logan Sanders,Washington,57000,Marketing",
  "20,Harper King,Birmingham,61000,Finance",
  "21,Lucas Rivera,Memphis,59000,HR",
  "22,Evelyn Scott,Nashville,60000,Engineering",
  "23,Avery Green,Milwaukee,56000,Operations",
  "24,Lincoln Taylor,Indianapolis,62000,Sales",
  "25,Sofia Cooper,Louisville,54000,Marketing",
  "26,Aiden Bennett,Jacksonville,63000,Finance",
  "27,Madison Flores,Charlotte,58000,HR",
  "28,Ella Collins,San Jose,65000,Engineering",
  "29,Chloe Howard,San Antonio,53000,Operations",
  "30,Carter Hughes,Oklahoma City,61000,Sales",
  "31,Aria Nelson,Tucson,57000,Marketing",
  "32,Grayson Baker,Cleveland,60000,Finance",
  "33,Zoey Morris,Mesa,55000,HR",
  "34,Nova Ward,Kansas City,64000,Engineering",
  "35,Hudson James,Virginia Beach,52000,Operations",
  "36,Leah Watson,Atlanta,62000,Sales",
  "37,Riley Brooks,Colorado Springs,54000,Marketing",
  "38,Emery Kelly,Raleigh,59000,Finance",
...
formattedData: List[EmployeeData] = List(
  EmployeeData(
    id = 1,
    name = "John Doe",
    city = "New York",
    salary = 60000,
    department = "Marketing"
  ),
  EmployeeData(
    id = 2,
    name = "Jane Smith",
    city = "Los Angeles",
    salary = 55000,
    department = "Finance"
  ),
  EmployeeData(
    id = 3,
    name = "Michael Johnson",
    city = "Chicago",
    salary = 62000,
    department = "HR"
  ),
  EmployeeData(
    id = 4,
    name = "Sarah Lee",
    city = "San Francisco",
    salary = 58000,
    department = "Engineering"
  ),
  EmployeeData(
    id = 5,
    name = "David Brown",
    city = "Houston",
    salary = 63000,
    department = "Operations"
  ),
  EmployeeData(
    id = 6,
    name = "Emily Taylor",
...

Function(`filterEmployeeData`) to filter employee data based on a parameter and value

In [4]:
def filterEmployeeData(param: String, value: String): List[EmployeeData] = param.toLowerCase match {
    case "salary" => formattedData.filter{ele => ele.salary == value.toInt}
    case "department" => formattedData.filter{ele => ele.department.toLowerCase == value.toLowerCase}
    case _ => {
        println("Filter option not supported")
        List.empty[EmployeeData]
    }
}

val hrList = filterEmployeeData("Department", "HR")
val salaryList = filterEmployeeData("salary", "60000")

println(s"Number of employees as HR: ${hrList.size}") // 8
println(s"Number of employees with salary 60000: ${salaryList.size}") // 5

Number of employees as HR: 8
Number of employees with salary 60000: 5

defined function filterEmployeeData
hrList: List[EmployeeData] = List(
  EmployeeData(
    id = 3,
    name = "Michael Johnson",
    city = "Chicago",
    salary = 62000,
    department = "HR"
  ),
  EmployeeData(
    id = 9,
    name = "Matthew Martinez",
    city = "Boston",
    salary = 57000,
    department = "HR"
  ),
  EmployeeData(
    id = 15,
    name = "Ethan Perez",
    city = "Minneapolis",
    salary = 55000,
    department = "HR"
  ),
  EmployeeData(
    id = 21,
    name = "Lucas Rivera",
    city = "Memphis",
    salary = 59000,
    department = "HR"
  ),
  EmployeeData(
    id = 27,
    name = "Madison Flores",
    city = "Charlotte",
    salary = 58000,
    department = "HR"
  ),
  EmployeeData(
    id = 33,
    name = "Zoey Morris",
...
salaryList: List[EmployeeData] = List(
  EmployeeData(
    id = 1,
    name = "John Doe",
    city = "New York",
    salary = 60000,
    department = "Marketing"
  ),
  EmployeeData(
    id = 12,
    name = "Sophia Hernandez",
    city = "Phoenix",
    salary = 60000,
    department = "Sales"
  ),
  EmployeeData(
    id = 22,
    name = "Evelyn Scott",
    city = "Nashville",
    salary = 60000,
    department = "Engineering"
  ),
  EmployeeData(
    id = 32,
    name = "Grayson Baker",
    city = "Cleveland",
    salary = 60000,
    department = "Finance"
  ),
  EmployeeData(
    id = 44,
    name = "Aubrey Long",
    city = "Arlington",
    salary = 60000,
    department = "Finance"
  )
)

Function(`generateFormattedReport`) to generate a formatted report for an employee

In [5]:
// Assuming the formatted report is of type: $Name[empId: #id] from $city working in $department department earns $salary
def generateFormattedReport(data: EmployeeData): String = {
    s"${data.name}[empId: ${data.id}] from ${data.city} woring in ${data.department} department earns ${data.salary}"
} 

println(formattedData.map(generateFormattedReport))

List(John Doe[empId: 1] from New York woring in Marketing department earns 60000, Jane Smith[empId: 2] from Los Angeles woring in Finance department earns 55000, Michael Johnson[empId: 3] from Chicago woring in HR department earns 62000, Sarah Lee[empId: 4] from San Francisco woring in Engineering department earns 58000, David Brown[empId: 5] from Houston woring in Operations department earns 63000, Emily Taylor[empId: 6] from Miami woring in Sales department earns 54000, James Wilson[empId: 7] from Dallas woring in Marketing department earns 59000, Emma Anderson[empId: 8] from Seattle woring in Finance department earns 61000, Matthew Martinez[empId: 9] from Boston woring in HR department earns 57000, Olivia Thomas[empId: 10] from Atlanta woring in Engineering department earns 64000, Liam Garcia[empId: 11] from Denver woring in Operations department earns 53000, Sophia Hernandez[empId: 12] from Phoenix woring in Sales department earns 60000, Alexander Lopez[empId: 13] from Philadelphia woring in Marketing department earns 56000, Mia Gonzalez[empId: 14] from Detroit woring in Finance department earns 62000, Ethan Perez[empId: 15] from Minneapolis woring in HR department earns 55000, Isabella Carter[empId: 16] from Portland woring in Engineering department earns 63000, Mason Torres[empId: 17] from Baltimore woring in Operations department earns 52000, Ava Ramirez[empId: 18] from San Diego woring in Sales department earns 64000, Logan Sanders[empId: 19] from Washington woring in Marketing department earns 57000, Harper King[empId: 20] from Birmingham woring in Finance department earns 61000, Lucas Rivera[empId: 21] from Memphis woring in HR department earns 59000, Evelyn Scott[empId: 22] from Nashville woring in Engineering department earns 60000, Avery Green[empId: 23] from Milwaukee woring in Operations department earns 56000, Lincoln Taylor[empId: 24] from Indianapolis woring in Sales department earns 62000, Sofia Cooper[empId: 25] from Louisville woring in Marketing department earns 54000, Aiden Bennett[empId: 26] from Jacksonville woring in Finance department earns 63000, Madison Flores[empId: 27] from Charlotte woring in HR department earns 58000, Ella Collins[empId: 28] from San Jose woring in Engineering department earns 65000, Chloe Howard[empId: 29] from San Antonio woring in Operations department earns 53000, Carter Hughes[empId: 30] from Oklahoma City woring in Sales department earns 61000, Aria Nelson[empId: 31] from Tucson woring in Marketing department earns 57000, Grayson Baker[empId: 32] from Cleveland woring in Finance department earns 60000, Zoey Morris[empId: 33] from Mesa woring in HR department earns 55000, Nova Ward[empId: 34] from Kansas City woring in Engineering department earns 64000, Hudson James[empId: 35] from Virginia Beach woring in Operations department earns 52000, Leah Watson[empId: 36] from Atlanta woring in Sales department earns 62000, Riley Brooks[empId: 37] from Colorado Springs woring in Marketing department earns 54000, Emery Kelly[empId: 38] from Raleigh woring in Finance department earns 59000, Luke Reed[empId: 39] from Omaha woring in HR department earns 61000, Layla Cooper[empId: 40] from Miami woring in Engineering department earns 56000, Ayden Rivera[empId: 41] from Tulsa woring in Operations department earns 63000, Penelope Coleman[empId: 42] from Oakland woring in Sales department earns 58000, Lincoln Powell[empId: 43] from Minneapolis woring in Marketing department earns 65000, Aubrey Long[empId: 44] from Arlington woring in Finance department earns 60000, Grace Hughes[empId: 45] from Bakersfield woring in HR department earns 55000, Nolan Ward[empId: 46] from Tampa woring in Engineering department earns 64000, Bella Barnes[empId: 47] from Honolulu woring in Operations department earns 52000, Ellie Howard[empId: 48] from Anaheim woring in Sales department earns 62000, Liam Wright[empId: 49] from Pittsburgh woring in Marketing department earns 56000, Emma Evans[empId: 50] from Cincinnati woring in Finance department earns 61000)

defined function generateFormattedReport

Function(`calculateDepartmentStats`) to calculate employee statistics by department in terms of entity `DepartmentStats`

In [6]:
case class DepartmentStats(department: String, totalSalary: Int, averageSalary: Double, employeesCount: Int)

def calculateDepartmentStats(department: String, employeeData: List[EmployeeData]): DepartmentStats = {
    val employeeCount = employeeData.size
    val totalSalary: Int = employeeData.map(_.salary).reduce(_+_)       // (reduce(_+_) == sum)
    val averageSalary = totalSalary / employeeCount

    DepartmentStats(department, totalSalary, averageSalary, employeeCount)
}

val departmentGrouped = formattedData.groupBy(_.department) // Map[String, List[EmployeeData]]
val departmentStats = departmentGrouped.map{case (k,v) => calculateDepartmentStats(k, v)}

println(departmentStats.map(ele => ele.department -> ele).toMap)

// Department stats for finance
println(departmentStats.filter(_.department.toLowerCase == "finance"))

HashMap(Engineering -> DepartmentStats(Engineering,494000,61750.0,8), Operations -> DepartmentStats(Operations,444000,55500.0,8), Sales -> DepartmentStats(Sales,483000,60375.0,8), Marketing -> DepartmentStats(Marketing,518000,57555.0,9), HR -> DepartmentStats(HR,462000,57750.0,8), Finance -> DepartmentStats(Finance,542000,60222.0,9))
List(DepartmentStats(Finance,542000,60222.0,9))

defined class DepartmentStats
defined function calculateDepartmentStats
departmentGrouped: Map[String, List[EmployeeData]] = HashMap(
  "Engineering" -> List(
    EmployeeData(
      id = 4,
      name = "Sarah Lee",
      city = "San Francisco",
      salary = 58000,
      department = "Engineering"
    ),
    EmployeeData(
      id = 10,
      name = "Olivia Thomas",
      city = "Atlanta",
      salary = 64000,
      department = "Engineering"
    ),
    EmployeeData(
      id = 16,
      name = "Isabella Carter",
      city = "Portland",
      salary = 63000,
      department = "Engineering"
    ),
    EmployeeData(
      id = 22,
      name = "Evelyn Scott",
      city = "Nashville",
      salary = 60000,
      department = "Engineering"
    ),
    EmployeeData(
      id = 28,
      name = "Ella Collins",
      city = "San Jose",
      salary = 65000,
      department = "Engineering"
    ),
    EmployeeData(
      id = 34,
...
departmentStats: collection.immutable.Iterable[DepartmentStats] = List(
  DepartmentStats(
    department = "Engineering",
    totalSalary = 494000,
    averageSalary = 61750.0,
    employeesCount = 8
  ),
  DepartmentStats(
    department = "Operations",
    totalSalary = 444000,
    averageSalary = 55500.0,
    employeesCount = 8
  ),
  DepartmentStats(
    department = "Sales",
    totalSalary = 483000,
    averageSalary = 60375.0,
    employeesCount = 8
  ),
  DepartmentStats(
    department = "Marketing",
    totalSalary = 518000,
    averageSalary = 57555.0,
    employeesCount = 9
  ),
  DepartmentStats(
    department = "HR",
    totalSalary = 462000,
    averageSalary = 57750.0,
    employeesCount = 8
  ),
  DepartmentStats(
    department = "Finance",
    totalSalary = 542000,
    averageSalary = 60222.0,
    employeesCount = 9
  )
)